<div class="container">
    <form [formGroup]="lopongoForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="inputTitle" class="col-sm-3 col-form-label">Title</label>
        <div class="col-sm-9">
          <input 
            type="title" 
            class="form-control" 
            id="inputTitle" 
            placeholder="Title"
            formControlName="title"
            >
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPrice" class="col-sm-3 col-form-label">Price</label>
        <div class="col">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <input 
                type="text" 
                placeholder="currency" 
                list='currencies' 
                id="currency"
                formControlName="currency">
              <datalist id="currencies">
                <option value=" "></option>
              </datalist>
            </div>
            <input 
              type="number" 
              class="form-control" 
              id="inputDescription" 
              placeholder="Price"
              formControlName="price">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputDescription" class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-9">
          <input 
            type="text" 
            class="form-control" 
            id="inputDescription" 
            placeholder="description" 
            formControlName="description">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputLocation" class="col-sm-3 col-form-label">Location</label>
        <div class="col-sm-9">
          <input 
            type="text" 
            class="form-control" 
            id="inputLocation" 
            placeholder="Password" 
            formControlName="location">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputArea" class="col-sm-3 col-form-label">Area</label>
        <div class="col-sm-9">
          <input 
            type="text" 
            class="form-control" 
            id="inputArea" 
            placeholder="Area" 
            formControlName="area">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputAddress" class="col-sm-3 col-form-label">Address Line</label>
        <div class="col-sm-9">
          <input 
            type="text" 
            class="form-control" 
            id="inputAddress" 
            placeholder="Address Line" 
            formControlName="address">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputCity" class="col-sm-3 col-form-label">City</label>
        <div class="col-sm-9">
          <input 
            type="text" 
            class="form-control" 
            id="inputCity" 
            placeholder="City" 
            formControlName="city">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPostalCode" class="col-sm-3 col-form-label">Postal Code</label>
        <div class="col-sm-9">
          <input 
            type="number" 
            class="form-control" 
            id="inputPostalCode" 
            placeholder="Postal Code" 
            formControlName="postalCode">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputState" class="col-sm-3 col-form-label">State</label>
        <div class="col-sm-9">
          <input 
            type="text" 
            class="form-control" 
            id="inputState" 
            placeholder="State" 
            formControlName="state">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputCountry" class="col-sm-3 col-form-label">Country</label>
        <div class="col-sm-9">
          <input 
            type="text" 
            class="form-control" 
            id="inputCountry" 
            placeholder="Country" 
            formControlName="country">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputCountry" class="col-sm-3 col-form-label">Price Negotiable</label>
        <div class="col-sm-9">
          <div class="custom-control custom-switch">
            <input 
              type="checkbox" 
              class="custom-control-input" 
              id="customSwitch1"
              formControlName="priceNegotiable">
            <label class="custom-control-label" for="customSwitch1"></label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputCountry" class="col-sm-3 col-form-label">Available for Exchange</label>
        <div class="col-sm-9">
          <div class="custom-control custom-switch">
            <input 
              type="checkbox" 
              class="custom-control-input" 
              id="customSwitch2"
              formControlName="availableForExchange">
            <label class="custom-control-label" for="customSwitch2"></label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputCountry" class="col-sm-3 col-form-label">Images</label>
        <div class="col-sm-9">
          <div class="divs">
            <input 
              type='file' 
              id='book' class="inputs"
              formControlName="image"
              >
            <i class="fa fa-book fa-5x "><img id="image-upload" src="https://img.icons8.com/carbon-copy/50/000000/image.png"/></i>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputAddress" class="col-sm-3 col-form-label">Asset Condition</label>
        <div class="col-sm-9">
          <select 
            formControlName="assets"
            id="asset"
            
            >
            <option style="display: none;" value="">select</option>
            <option *ngFor="let asset of assets"  [value]="asset">{{asset}}</option>
          </select>
        </div>
      </div>
  
      <div class="form-group row">
        <label for="inputCountry" class="col-sm-3 col-form-label">Asset Type</label>
        <div class="col-sm-9">
          <select formControlName="assetTypes" id="assetType">
            <option *ngFor="let asset of assetTypes" [value]="asset">{{asset}}</option>
          </select>
        </div>      
      </div>
  
      <div id="submit-button">
        <button class="btn btn-primary" [disabled]="!lopongoForm.valid">Submit</button>
      </div>
  
    </form>
  </div>