
<div *ngIf="type=='Text Box'">
    <div class="form-group row">
        <label for="inputTitle" class="col-sm-3 col-form-label">Conditions (English) *</label>
        <div class="col-sm-4">
            <input 
                type="title" 
                class="form-control" 
                id="inputTitle"
                placeholder="min Text"
                >
        </div>
        <div class="col-sm-4">
            <input 
                type="title" 
                class="form-control" 
                id="inputTitle"
                placeholder="max Text"
                >
        </div>
    </div>
</div>
<div *ngIf="type=='Text Area'">
    <div class="form-group row">
        <label for="inputTitle" class="col-sm-3 col-form-label">Conditions (English) *</label>
        <div class="col-sm-4">
            <input 
                type="title" 
                class="form-control" 
                id="inputTitle"
                placeholder="min Text"
                >
        </div>
        <div class="col-sm-4">
            <input 
                type="title" 
                class="form-control" 
                id="inputTitle"
                placeholder="max Text"
                >
        </div>
    </div>
</div>
<div *ngIf="type=='Range Slider'">
    <div class="form-group row">
        <label for="inputTitle" class="col-sm-3 col-form-label">Conditions Min (English) *</label>
        <div class="col-sm-4">
            <input 
                type="title" 
                class="form-control" 
                id="inputTitle"
                placeholder="Unit Name (English)"
                >
        </div>
        <div class="col-sm-4">
            <input 
                type="title" 
                class="form-control" 
                id="inputTitle"
                placeholder="Min Value (English)"
                >
        </div>
    </div>
    <div class="form-group row">
        <label for="inputTitle" class="col-sm-3 col-form-label">Conditions Max (English) *</label>
        <div class="col-sm-4">
            <input 
                type="title" 
                class="form-control" 
                id="inputTitle"
                placeholder="Unit Name (English)"
                disabled
                >
        </div>
        <div class="col-sm-4">
            <input 
                type="title" 
                class="form-control" 
                id="inputTitle"
                placeholder="Max Vlaue (English)"
                >
        </div>
    </div>
</div>
<div *ngIf="type=='Checkbox'">
    <div class="form-group row">
        <label for="inputTitle" class="col-sm-3 col-form-label">Conditions (English) *</label>
        <div class="col-sm-9">
            <input 
                type="title" 
                class="form-control" 
                id="inputTitle"
                placeholder="Enter values comman(,) separated"
                >
        </div>
    </div>
</div>
<div *ngIf="type=='Radio Button'">
    <div class="form-group row">
        <label for="inputTitle" class="col-sm-3 col-form-label">Conditions (English) *</label>
        <div class="col-sm-9">
            <input 
                type="title" 
                class="form-control" 
                id="inputTitle"
                placeholder="Enter values comman(,) separated"
                >
        </div>
    </div>
</div>
<div *ngIf="type=='Drop Down'">
    <div class="form-group row">
        <label for="inputTitle" class="col-sm-3 col-form-label">Conditions (English) *</label>
        <div class="col-sm-9">
            <input 
                type="title" 
                class="form-control" 
                id="inputTitle"
                placeholder="Enter values comman(,) separated"
                >
        </div>
    </div>
</div>

<div *ngIf="type=='+/- controller'">
    <div class="form-group row">
        <label for="inputTitle" class="col-sm-3 col-form-label">Conditions (English) *</label>
        <div class="col-sm-4">
            <input 
                type="title" 
                class="form-control" 
                id="inputTitle"
                placeholder="min +/-"
                >
        </div>
        <div class="col-sm-4">
            <input 
                type="title" 
                class="form-control" 
                id="inputTitle"
                placeholder="max +/-"
                >
        </div>
    </div>
</div>

<div *ngIf="type=='Numerical Input box'">
    <div class="form-group row">
        <label for="inputTitle" class="col-sm-3 col-form-label">Conditions (English) *</label>
        <div class="col-sm-4">
            <input 
                type="title" 
                class="form-control" 
                id="inputTitle"
                >
        </div>
        <div class="col-sm-2">
            <input 
                type="title" 
                class="form-control" 
                id="inputTitle"
                placeholder="max"
                >
        </div>
        <div class="col-sm-2">
            <input 
                type="title" 
                class="form-control" 
                id="inputTitle"
                placeholder="max"
                >
        </div>
    </div>
</div>
