.container{
    margin: 20px;
}
.checkbox-inline{
    padding: 10px;
}
#inputTitle.ng-invalid.ng-touched {
    border: 1px solid red;
  }

#typeButton{
    border: 1px solid lightgrey;
    width: 240px;
    height: 39px;
}
#submit-button{
    justify-content: center;
}