<div class="container">
    <div>
        <label class="checkbox-inline">
            <input type="checkbox" value="hindi" (change)="addHindi($event)">Hindi
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" checked disabled value="english">English
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="spanish" (change)="addSpanish($event)">Spanish, Castilian
        </label>
    </div>
    <br>

    <div class="card">
        <div class="card-body">
            <form [formGroup]="attributeForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="inputTitle" class="col-sm-3 col-form-label">Title (English)</label>
                    <div class="col-sm-9">
                        <input 
                            type="title" 
                            class="form-control" 
                            id="inputTitle"
                            formControlName="titleEnglish">
                    </div>
                </div>
                <!-- ---------------------------------------------------- -->
                <div class="form-group row" *ngIf="spanish">
                    <label for="inputTitle" class="col-sm-3 col-form-label">Title (Spanish)</label>
                    <div class="col-sm-9">
                        <input 
                            type="title" 
                            class="form-control" 
                            id="inputTitle"
                            formControlName="titleSpanish">
                    </div>
                </div>
                <!-- ---------------------------------------------------- -->
                <div class="form-group row" *ngIf="hindi">
                    <label for="inputTitle" class="col-sm-3 col-form-label">Title (Hindi)</label>
                    <div class="col-sm-9">
                        <input 
                            type="title" 
                            class="form-control" 
                            id="inputTitle"
                            formControlName="titleHindi">
                    </div>
                </div>
                <!-- ---------------------------------------------------- -->
                <div class="form-group row">
                    <label for="inputTitle" class="col-sm-3 col-form-label">Title Tag</label>
                    <div class="col-sm-9">
                        <input 
                            type="title" 
                            class="form-control" 
                            id="inputTitle"
                            formControlName="titleTag">
                    </div>
                </div>
                <!-- ---------------------------------------------------- -->
                <div class="form-group row">
                    <label for="inputTitle" class="col-sm-3 col-form-label">Type</label>
                    <div class="col-sm-9">
                        <div class="dropdown">
                            <select formControlName="type" (change)="typeChange($event)" class="btn btn-default dropdown-toggle" id="typeButton">
                                <option 
                                    *ngFor="let type of typeList"
                                    class="dropdown-item" 
                                    [value]="type">{{ type }}</option>
                                    
                            </select>

                        </div>
                    </div>
                </div>
                <app-type-attrs *ngIf="type" [selectedType]="type"></app-type-attrs>
                <!-- ---------------------------------------------------- -->
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Icon</label>
                    <div class="col-sm-9">
                        <input 
                            type="file" 
                            id='icon' 
                            class="inputs"
                            formControlName="icon">
                    </div>
                </div>
                <!-- ---------------------------------------------------- -->
                <div class="form-group row">
                    <label for="inputTitle" class="col-sm-3 col-form-label">Mandatory</label>
                    <div class="col-sm-9">
                        <div class="custom-control custom-switch">
                            <input 
                                type="checkbox" 
                                class="custom-control-input" 
                                id="customSwitch1"
                                formControlName="mandatory">
                            <label class="custom-control-label" for="customSwitch1"></label>
                        </div>
                    </div>
                </div>
                <!-- ---------------------------------------------------- -->
                <div class="form-group row">
                    <label for="inputTitle" class="col-sm-3 col-form-label">Filterable</label>
                    <div class="col-sm-9">
                        <div class="custom-control custom-switch">
                            <input 
                                type="checkbox"
                                class="custom-control-input" 
                                id="customSwitch2"
                                formControlName="filterable">
                            <label class="custom-control-label" for="customSwitch2"></label>
                        </div>
                    </div>
                </div>
                <!-- ---------------------------------------------------- -->
                <div class="form-group row">
                    <label for="inputTitle" class="col-sm-3 col-form-label">Ratable</label>
                    <div class="col-sm-9">
                        <div class="custom-control custom-switch">
                            <input 
                                type="checkbox" 
                                class="custom-control-input" 
                                id="customSwitch3"
                                formControlName="ratable">
                            <label class="custom-control-label" for="customSwitch3"></label>
                        </div>
                    </div>
                </div>
                <div class="form-gourp row" id="submit-button">
                    <button 
                        class="btn btn-primary"
                        [disabled]="!attributeForm.valid" >Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>